.footer {
  width: 100%;
  max-height: 20rem;
  margin-top: 5rem;
  background-color: var(--color-primary-black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: var(--font-primary-heading);
  font-weight: 300;
  &__item {
    padding: 5rem;
    &-address {
      display: flex;
      flex-direction: row;
      max-height: 18rem;
      &-title {
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--color-primary-grey);
        margin: 0 2rem;
        line-height: 1.5rem;
        padding-left: 1.5rem;
        align-self: stretch;
        justify-content: center;

        @include respond(phone) {
          //display: none;
          margin: 0 1rem;
          padding-left: 1rem;
        }

        &-large {
          font-size: 1.6rem;
          font-weight: 700;
        }

        &-small {
          font-size: 1.1rem;
          font-weight: 400;
          color: var(--color-primary-grey);
        }
      }
    }
    &-logo {
      max-width: 15rem;
      max-height: 15rem;
      animation: fadeIn;
      animation-duration: 1s;
    }
  }
}
