.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  z-index: 3000;

  /*to hide popup element I'm using opacity and visibility options due to prior animation, it is imposible to do with display: none*/
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      color: var(--color-primary-grey);
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: var(--color-primary-black);
    }
  }

  &__content {
    background-color: var(--color-primary-white);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 80%;
    @include center-hv;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5rem;
    img {
      padding: 5rem;
    }
  }
}
.input-popup {
  display: block;
  width: 45rem;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1.5rem;
  height: 5rem;
}
textarea {
  //height: 4px;
  font: var(--font-primary);
}
