.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 70rem));
  justify-content: center;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &-1 {
      @include respond(tab-port) {
        order: 2;
      }
    }
    &-2 {
      padding: 10rem;
      @include respond(tab-port) {
        order: 1;
      }
    }
    &-3 {
      padding: 10rem;
      @include respond(tab-port) {
        order: 3;
      }
    }
    &-4 {
      @include respond(tab-port) {
        order: 4;
      }
    }
    &-5 {
      @include respond(tab-port) {
        order: 6;
      }
    }
    &-6 {
      padding: 10rem;
      @include respond(tab-port) {
        order: 5;
      }
    }
    &-7 {
      padding: 10rem;
      @include respond(tab-port) {
        order: 7;
      }
    }
    &-8 {
      @include respond(tab-port) {
        order: 8;
      }
    }
  }

  &__img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
}
